.About {
  justify-content: center;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(221, 213, 213, 0.199);
  width:max-content;
  height:750px;
  margin-top: 105px;
  padding-bottom: 80px;
}
.g {
  color: rgb(2, 0, 21);
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 30px;
  
}
.j {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 750;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(17, 4, 91);}

.About ul.a {
  list-style-type: circle;
  display: block;
}
.About li {
  list-style-type: circle;
  margin-bottom: 5px;
  display: block;
}

.About ul {
  margin-left: 50px;
}

.About span {
  font-weight: bolder;
}
.trrt {
  font-weight: 500;
  
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}
.taht{
  margin-left: 20px;
}
.ms {
  padding-top: 10px;
  color: rgb(17, 4, 91);
  font-size: 20px;
  padding-left: 17px;

}
.fc{
  width: 40px;

}

.fc,
.insta,
.x{
  
  margin-left: 10px;
  display: inline-block;
  margin-top: -39px;
  padding-bottom: 60px;
}
.soc{
  font-weight: bold;
  margin-left: 350px;
  margin-right: 25px;
  margin-top: 10px;
}
.us{
  margin-left: 190px;
  margin-right: auto;
  margin-top: -70px;

}
.action1{
  display:flex;
  margin-left: 30px;
  
}

.x{
  width: 38px;
}
.phone{
    
    padding-top: 21px;
  }
  
.cc{
  margin-top: -1px;
  margin-bottom: 15px;
  padding-left: 245px;
  font-size: 17px;
  font-weight: bold;
}


.follow{
  padding-top: 30px;
}
.ligne{
  height: 1px;
  background-color: black;
  margin-top: 100px;
  margin-left: 0px;

}
.c{
  padding-right: 100px;
  display: inline-block;
  margin-left: -150px;
  
}
.lekh{
  margin-left: 60px;
  margin-top: 20px;

}

.insta{
  width: 42px;
  
}
.last{
  margin-left: 840px;
  font-weight: normal;
  margin-top: -135px;
  font-size: 17px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.allsoc{
  margin-left: 200px;
  margin-top: 45px;
}
.lil{
  font-weight: bold;
  margin-top: 20px;
  padding-right: 40px;
  padding-left:150px;
}
.mmail{
  margin-left: 40px;
  margin-top: 2px;
 
}
.grass{
  font-weight: bold;
}
.padi{
  padding-left: 20px;
}