.shipping-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(207, 203, 203, 0.112);
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
}

.biit {
  padding-left: 25px;
}

.delivery-heading {
  padding-bottom: 10px;
  color: rgb(70, 32, 108);
  font-size: 23px;
}
.sub-delivery-heading {
  padding-left: 45px;
}

.sub-delivery-heading {
  font-size: 19px;
  color: rgb(2, 64, 81);
  padding-left: 45px;
}

.description,
.sub-delivery-description {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  margin-left: 30px;
}
.sub-delivery-description {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

.JoinUsContainer li {
  list-style-type: none;
  margin: 0 auto;
}

.pp {
  margin-left: 40px;
  font-size: 17px;
  font-weight: 300;
}
.ppp {
  font-size: 17px;
  font-weight: 300;
  margin-left: 40px;
}
.pss {
  font-size: 17px;
  font-weight: 300;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  margin-top: -px;
}
.psss {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  margin-top: 8px;
}
.pee {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-left: 40px;
}
.azzz {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 40px;
  margin-top: 10px;
}
.dado {
  font-family: "Roboto", sans-serif;
}

.jj {
  padding-left: 30px;
}
.bbb {
  font-family: "Roboto", sans-serif;
}

.JoinUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinUsContainer {
  text-align: center;
  display: flex;
  border: 2px solid rgb(110, 110, 110);
  border-radius: 140px;
  box-shadow: inset 0 0 4px #8f8c8c;
  width: 700px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 70px;
  background-image: url("../components/laptop_images/ii.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 20px;
}
.JoinUsContainer li {
  list-style-type: none;
}

.smdd,
.smdc {
  font-weight: 550;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 22px;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.smd {
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.coc {
  font-weight: 600;
}
.fcc,
.instaa,
.xx {
  margin: 0 auto;
  width: 40px;
  padding-left: -30px;
}
.fcc {
  margin-left: 250px; /* nermine */
}
.ppp {
  font-family: "Roboto", sans-serif;
}
.logoo img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  margin: 0 auto;
  background: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titlee {
  color: rgb(77, 11, 158);
  font-size: 38px;
  text-shadow: rgb(255, 19, 169);
  margin-left: 10px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}
.smIcons ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}
.smIcons ul li img {

  height: 40px;
}

.linkWebsite{
  margin-top: 10px;
  margin-bottom: 10px;

}


.a{

  margin-top: 20px;
  margin-bottom: 20px;
}